<div id="town-details">
    <h2><%= @town.name %></h2>
    <hr />
    <p>
      <strong>State:</strong>
      <%= @town.state %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= @town.description %>
    </p>
    <%= render :partial => "list_of_attractions" %>
    <%= link_to(new_attraction_path(town_id: @town.id), id: 'new_attraction_link', class: 'button tiny radius', remote: true) do %>
	  Add New Attraction
	<% end %>
</div>