<p id="notice"><%= notice %></p>
<div class="row">
  <div class="small-5 columns">
    <%= render :partial => "town_details" %>
  </div>
  <div class="small-7 columns">
    <%= render :partial => "town_map" %>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <br />
    <ul>
      <li><%= link_to 'Edit Town', edit_town_path(@town) %></li>
      <li><%= link_to 'List All Towns', towns_path %></li>
    </ul>
  </div>
</div>


